.git
.github
.codegraph
.kiro
.omo
.pt-tools
.sisyphus
.trae
.zuno

**/node_modules
vendor
build
dist/*
!dist/pt-tools-linux-amd64
!dist/pt-tools-linux-arm64
coverage.out
coverage.html
*.log
.env
.env.*
jsons
